<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    
    <title> ログイン </title>
</head>
<body>
<div class="container">
    <div class="card">
        <h3 class="card-header"> チャットを行うにはサインインが必要です </h3>
        <div class="card-body">
            <p> サインインに使用するサービスを選んでください :</p>
            <ul><li><a href="/auth/gplus">Google</a></li></ul>
        </div>
    </div>
</div>
</body>
</html>